<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<div class="container" id="adminProductos"><!-- container bootstrap -->
    <section class="users">
        <div class="row users">

            <div class="titulo col-12">
                <h2>
                    <%= title %>
                </h2>
            </div>

            <div class="contenido text-left"><!-- contenedor principal-->

                <!-- PESTAÑAS  DETALLE - EDITAR - ELIMINAR  - TODOS MIS USUARIOS-->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item col-6 col-lg-4" role="presentation">
                        <a class="nav-link " id="home-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="home" aria-selected="true">Detalle Usuario</a>
                    </li>
                    <li class="nav-item col-6 col-lg-4" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#editar" role="tab" aria-controls="detalle" aria-selected="false">Editar Usuario</a>
                    </li>
                    <li class="nav-item col-6 col-lg-4" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="detalle" aria-selected="false">Eliminar Usuario</a>
                    </li>
                    <li class="nav-item col-6 col-lg-12" role="presentation">
                        <a class="nav-link text-center" id="profile-tab" data-toggle="tab" href="#todosMisusers" role="tab" aria-controls="detalle" aria-selected="false">Todos mis Usuarios</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent"><!-- menu tabulacion -->

                        <!-- DETALLE USUARIO ADMIN -->
                    <div class="container tab-pane fade show active" id="detalle" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row p-3">

                            <!-- FLECHAS NAVEGACION Y NOMBRE -->
                            <div class="col-12">
                                <div class="row titFlechas col-12">
                                    <!-- FLECHA IZQ -->
                                    <div class="col-1 ">
                                        <% if (user.id>1) { %>
                                            <a href="/users/admin/<%- user.id-1 %> " ><i class="fas fa-arrow-circle-left"></i></a>
                                            <% } %>
                                    </div>
                                    <!-- NOMBRE DEL user -->
                                    <div class="col-10">
                                        <h3 class="text-center">
                                            <%= user.nombre %> <%= user.apellido %>
                                        </h3>
                                    </div>
                                    <!-- FLECHA DERECHA -->
                                    <div class="col-1">
                                        <% if (user.id < total) { %>
                                            <a href="/users/admin/<%- user.id+1 %> " ><i class="fas fa-arrow-circle-right"></i></a>

                                            <% } %>
                                    </div>
                                </div>
                            </div><!-- FIN FLECHAS NAVEGACION -->

                            <!-- IMAGEN -->
                            <div class="col-12 col-md-4 mt-3">
                                <figure class="text-center">
                                    <a href="/users/admin/<%= user.id %>"><img src="/images/productos/default-image.png" alt="" class="img-fluid"></a>
                                </figure>
                            </div>

                            <!-- INFO user -->
                            <div class="col-12 col-md-8 mt-3">
     
                                <div class="row">
                                    <!-- EDAD -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Edad:</b> 
                                            <%= user.edad %>
                                        </span>
                                    </div>
                                    <!-- CATEGORIA -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Categoría:</b> 
                                            <%= user.category %>
                                        </span>
                                    </div>
                                    <!-- MAIL -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Email:</b> 
                                            <%= user.email %>
                                        </span>
                                    </div>
                                    <!-- PAIS -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Pais:</b> 
                                            <%= user.pais %>
                                        </span>
                                    </div>
                                  <!-- LOCALIDAD -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Localidad:</b> 
                                            <%= user.localidad %>
                                        </span>
                                    </div>
                                   <!-- DIRECCION -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Direccion:</b> 
                                            <%= user.direccion %>
                                        </span>
                                    </div>
                                    <!-- COMPRAS -->
                                    <div class="col-12 -">
                                        <span><b>Compras realizadas:</b> 
                                            <%= user.compras %>
                                        </span>
                                    </div>
                                </div><!--  -->
                            </div><!-- FIN INFO user -->


                        </div>
                    </div><!-- FIN DETALLE -->
                    

                    <!-- FORMULARIO EDITAR -->
                    <div class="container tab-pane fade " id="editar" role="tabpanel" aria-labelledby="home-tab">
                        <form action="/users/editar/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            
                            <div class="row p-3 col-12">
                                 <!-- EDITAR IMAGEN -->
                                <div class="col-12 col-md-4 col-xl-4 mt-3">
                                    <figure class="text-center">
                                        <img src="/images/productos/default-image.png" alt="" class="img-fluid">
                                    </figure>
                                    <input type="file" class="form-control" name="image">
                                </div>

                                <div class="col-12 col-lg-8"> <!-- NOMBRE Y APELLIDO -->
                                <!-- EDITAR NOMBRE DE user -->

                                <div class="form-group col-12 ">
                                    <label for="">Nombre</label>
                                    <input class="form-control" type="text" value="<%= user.nombre%>" name="name">
                                </div>
                                    <!-- APELLIDO -->
                                <div class="form-group col-12 ">
                                    <label for="">Apellido</label>
                                    <input class="form-control" type="text" value="<%= user.apellido%>" name="apellido">
                                </div>
                                
     
                                    
                                        <!-- EDAD -->
                                        <div class="col-12 col-lg-3">
                                            <label for="">Edad:</label><input type="number" value="<%= user.edad %>" name="edad">
                                        </div>
                                        <!-- CATEGORIA -->
                                        <div class="col-12 col-lg-4">
                                            <span><b>Categoría:</b> 
                                                <%= user.category %>
                                            </span>
                                        </div>
                                        <!-- MAIL -->
                                        <div class="col-12 col-lg-4">
                                            <span><b>Email:</b> 
                                                <%= user.email %>
                                            </span>
                                        </div>
                                        <!-- PAIS -->
                                        <div class="col-12 col-lg-4">
                                            <span><b>Pais:</b> 
                                                <%= user.pais %>
                                            </span>
                                        </div>
                                      <!-- LOCALIDAD -->
                                        <div class="col-12 col-lg-4">
                                            <span><b>Localidad:</b> 
                                                <%= user.localidad %>
                                            </span>
                                        </div>
                                       <!-- DIRECCION -->
                                        <div class="col-12 col-lg-4">
                                            <span><b>Direccion:</b> 
                                                <%= user.direccion %>
                                            </span>
                                        </div>
                                        <!-- COMPRAS -->
                                        <div class="col-12 -">
                                            <span><b>Compras realizadas:</b> 
                                                <%= user.compras %>
                                            </span>
                                        </div>
                                    
                                
                                </div>




                                        <!-- BOTONES  EDIT-->
                                        <div class="col-12 d-flex justify-content-center" id="botones">
                                            <button class="btn btn-danger mr-2">Cancelar</button>
                                            <button class="btn btn-info" type="submit" name="id" value="<%= user.id %> ">Actualizar</button>

                                        </div>
                            </div>
                            
                                
                            
                                
                        </form>
                        
                    


                    </div><!-- FIN EDITAR -->

                    <!-- ELIMINAR user  -->
                    <div class="container tab-pane fade" id="delete" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row p-3">

                            
                            <div class="col-12">
                                <div class="row">
                                    <!-- NOMBRE DEL user -->
                                    <div class="col-10">
                                        <h3 class="text-center">
                                            <%= user.name %>
                                        </h3>
                                    </div>
                                </div>
                            </div><!-- FIN FLECHAS NAVEGACION -->

                            <!-- IMAGEN -->
                            <div class="col-12 col-md-4 mt-3">
                                <figure class="text-center">
                                    <a href="/users/detalle/<%= user.id %>"><img src="/images/users/<%= user.image %> " alt="" class="img-fluid"></a>
                                </figure>
                            </div>

                            <!-- INFO user -->
                            <div class="col-12 col-md-8 mt-3">

                                <!-- DESCRIPCION -->
                                <p>
                                    <%= user.description %>
                                </p>
                                
                                <div class="row">
                                    <!-- CATEGORIA -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Categoría:</b> 
                                            <%= user.category %>
                                        </span>
                                    </div>
                                    <!-- CLASE -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Clase:</b> 
                                            <%= user.clase %>
                                        </span>
                                    </div>

                                    <!-- STOCK -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>Stock:</b> 
                                            <%= user.stock %>
                                        </span>
                                    </div>
                                    <!-- user DESTACADO -->
                                    <div class="col-12 col-lg-4">
                                        <span><b>user destacado:</b> 
                                            <%=(user.destacado == "on")?"si":"no"%>      
                                        </span>
                                    </div>
                                    <!-- DESCUENTO -->
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <span><b>Descuento:</b> 
                                        <%=user.discount%>%
                                    </span>
                                    </div>
                                    <div class="col-12 d-flex justify-content-center mt-5" id="botones">
                                    <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                                        
                                        <button class="btn btn-danger ">ELIMINAR user</button>
                                    </form>
                                </div>

                                </div><!--  -->
                            </div><!-- FIN INFO user -->


                        </div>
                    </div><!-- FIN ELIMINAR -->
 
                     <!-- TODOS MIS user  -->
                    <div class="container tab-pane fade" id="todosMisusers" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row p-3">
                            <!-- IMAGEN -->
                            <% usersTotales.forEach( user=> { %>
                            <div class="col-12">
                                <ul>
                                    <li><a href="/users/admin/<%= user.id %>"><%= user.nombre %>  <%= user.apellido %>  | <%= user.email %> </a></li>
                                </ul>
                            </div>
                            <% }) %>
                        </div>
                    </div><!-- TODOS MIS userS -->



                 </div><!-- fin menu tabulacion -->
            </div><!-- fin contenedor principal -->

            
        </div>
    </section>
</div>



<%- include("./partials/footer") %> <!-- FOOTER -->