<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<!-- SECCION CARROUSEL -->
<section id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/productos/guitarras"><img src="/images/banner/bannerGuitarra.jpg" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
            <a href="/productos/guitarras"><h5>GUITARRAS</h5></a>
          <p></p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="/productos/baterias"><img src="/images/banner/bannerBateria.jpg" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
            <a href="/productos/baterias"> <h5>BATERIAS</h5></a>
          <p></p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="/productos/bajos"><img src="/images/banner/bannerBajo.jpg" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
            <a href="/productos/bajos"><h5>BAJOS</h5></a>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/productos/accesorios"><img src="/images/banner/bannerAccesorios.jpg" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
            <a href="/productos/accesorios"><h5>ACCESORIOS</h5></a>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/productos"><img src="/images/banner/todosLosProductos.jpg" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
            <a href="/productos"><h5>Todos nuestros productos</h5></a>
          <p></p>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

</section>

<!-- caja contenedora main -->
<main class="container">
        <!-- SECCION NOVEDADES -->
<section id="home">

    <!--caja que contiene todos los productos de la ultima visita-->
    <div class="row productos" >

        <!--caja que contiene el titulo de la sección-->
        <div class="titulo col-12">
            <h2>
                Novedades
            </h2>
        </div>

        <% novedades.forEach(producto => { %>

        <!--caja de la grilla de bootstrap-->
        <div class="grilla col-12 col-md-6 col-lg-3">

            <!--caja que muestra la información del producto-->
            <div class="contenido">

                <!--ETIQUETA SEMANTICA-->
                <figure>
                    <a href="/productos/detalle/<%= producto.id %> ">
                        <img src="/images/productos/<%- producto.image %>  " alt=" ">
                    </a>

                </figure>

                <!--informacion-->
                <article>
                    <!--precio-->
                    <h2 class="col-12"><%= "$" +producto.price %> </h2>
                    <!--descuento-->
                    <% if (producto.discount == 0) { %>
                        <span> <!-- sin ofertas --></span>
                        <%}else {%>
                            <span><%= producto.discount + "%OFF"%></span>
                        <%}%>
                    <!--nombre del producto ??-->
                    <p class="col-12"><%= producto.name %> </p>
                </article>

                <!--finaliza contenido-->
            </div>
            <!--finaliza caja de grilla de boostrap-->
        </div>
        <% }) %>

        <!--finaliza el div.row-->
    </div>

    <!--FINALIZA SECCCIÓN NOVEDADES-->
</section>

        <!--SECCIÓN: PRODUCTOS OFERTAS-->
 <section id="home">

          <!--caja que contiene todos los productos de la ultima visita-->
          <div class="row productos">

              <!--caja que contiene el titulo de la sección-->
              <div class="titulo col-12">
                  <h2>
                      Ofertas destacadas
                  </h2>
              </div>

              <% oferta.forEach(producto => { %>

              <!--caja de la grilla de bootstrap-->
              <div class="grilla col-12 col-md-4 col-lg-2">

                  <!--caja que muestra la información del producto-->
                  <div class="contenido">

                      <!--ETIQUETA SEMANTICA-->
                      <figure>
                          <a href="/productos/detalle/<%= producto.id %> ">
                              <img src="/images/productos/<%- producto.image %>  " alt=" ">
                          </a>

                      </figure>

                      <!--informacion-->
                      <article>
                          <!--precio-->
                          <h2 class="col-12"><%= "$" + producto.price %> </h2>
                          <!--descuento-->
                          <% if (producto.discount != 0) { %>
                                  <span><%=  producto.discount + "%OFF"%></span>
                              <%}%>
                          <!--nombre del producto ??-->
                          <p class="col-12"><%= producto.name %> </p>
                      </article>

                      <!--finaliza contenido-->
                  </div>
                  <!--finaliza caja de grilla de boostrap-->
              </div>
              <% }) %>

              <!--finaliza el div.row-->
          </div>

          <!--FINALIZA SECCCIÓN OFERTAS-->
 </section>
</main>


<%- include("./partials/footer") %> <!-- FOOTER -->















